{% extends 'base.html.twig' %}

{% block title %}New CollectionNft{% endblock %}

{% block body %}
    <h1>Create new CollectionNft</h1>

    {{ include('collection_nft/_form.html.twig') }}

    <a href="{{ path('app_collection_nft_index') }}">back to list</a>
{% endblock %}
