@import "~bootstrap/scss/bootstrap";
@import "variable";

body {
    background-color: $background-color;
    color: black;
}

.logo {
    filter: invert(100%);
    height: 60px;
    width: 60px;
}

.imgNft {
    object-fit: contain;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}