{% extends 'base.html.twig' %}

{% block title %}Profil {% endblock %}

{% block body %}
    <h1 class='text-center'>Profil de {{app.user.pseudo}}</h1><br>

    <div class='text-center'><img src="{{app.user.avatar}}" alt="hugenerd" width="100" height="100" class="rounded-circle"></div><br>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}